.container {
  .addButton {
    background: purple;
    border-radius: 16px;
    color: white;
    margin-right: 12px;
  }

  .headerBox {
    text-align: right;
    padding: 20px 0px;
  }
}

.gridView {}

.tableView {
  .header {
    background: green;
    .headerText {
      color: white;
      font-weight: bold;
    }
  }

  .editButton {
    background: grey;
    color: white;
    margin-right: 10px;
  }
}
